* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1220px;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  padding: 0 15px;
}
.header {
  background: #000;
  padding: 15px 0px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-logo {
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    color: #fff;
  }
  &__nav-logo a {
    color: #fff;
  }
  &__nav-links ul {
    display: flex;
    align-items: center;
    gap: 80px;
  }
  &__nav-links-wrap a {
    font-family: Arial;
    font-weight: 400;
    font-size: 25px;
    line-height: 28.75px;
    letter-spacing: 0%;
    color: #fff;
  }
}
